<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Social::top_level" module="SajidPatel_SocialInfluencer" resource="Magento_Backend::content" sortOrder="9999" title="Social"/>
		<add action="social_influencer/influencerproduct/index" id="SajidPatel_SocialInfluencer::social_influencer_product" module="SajidPatel_SocialInfluencer" parent="Social::top_level" resource="Magento_Backend::content" sortOrder="9999" title="Influencer product"/>
		<add action="social_influencer/influencer/index" id="SajidPatel_SocialInfluencer::social_influencer" module="SajidPatel_SocialInfluencer" parent="Social::top_level" resource="Magento_Backend::content" sortOrder="9999" title="Influencer"/>
	</menu>
</config>
