<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="social_influencer" id="social_influencer">
			<module before="Magento_Backend" name="SajidPatel_SocialInfluencer"/>
		</route>
	</router>
</config>
